<div class="sidebar">
  <div class="dev-info">
    <div class="dev-name">JUAN PABLO SUBIROS</div>
    <div class="dev-dni">DNI 35410512</div>
    <div class="dev-years">27 YEARS OLD</div>
  </div>

  <div class="sidebar-container">
    <div>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Search in Cards" value="">
      </mat-form-field>
    </div>
  
    <div>
      <h4 class="filter-title">Filter by</h4>
  
      <mat-radio-group class="example-radio-group radio-group">
        <mat-radio-button class="example-radio-button" value="1" name="radio" id="radio1" checked="true">
          Frontend
        </mat-radio-button>
  
        <mat-radio-button class="example-radio-button" value="2" name="radio" id="radio2">
          Backend
        </mat-radio-button>
      </mat-radio-group>
      
    </div>
    
  </div>
  
</div>