/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";
body{
    margin: 0;
    padding: 0;
}
app-sidebar{
    margin: 0;
}

.mat-input-element{
   color:  rgba(255,255,255,.7) !important;
}

/*
.mat-radio-outer-circle{
    width: 30px;
    height: 30px;
    background-color: #020202;
    background-color: var(--black-two);
    border: solid 2px #ffffff;
    
    position: absolute;
    height: 30px !important;
    width: 30px !important;
    left: -7px !important;
    top: -7px !important;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle{
    width: 16px;
    height: 16px;
    background-color: #ffffff;
    border: solid 2px #ffffff;
    transform: scale(1);
}
*/